<div class="container-fluid conteiner  ">
  <div class="row">
    <div class="col bg-col  d-flex flex-column justify-content-center align-items-center">
      <h1 class="bold   title_login  text-first-primary">Iniciar sesión</h1>
      <p class="text-center subtitle_login ">Administrador <br> <span>de eventos</span></p>
    </div>
    <div class="col col-form">
      <form action="">
        <div class="input-groups">
          <input  type="text" name="text" placeholder="Ingresa tu correo electrónico" class="input">
          <label class="user-label fw-semibold">Correo</label>
        </div>
        <div class="input-groups">
          <input  type="password" name="text" placeholder="Ingresa tu contraseña" class="input">
          <label class="user-label fw-semibold">Contraseña</label>
        </div>
      </form>
      <div class="my-3 buttons_actions">
        <button class="btn_active " (click)="onButtonClick()">Entrar</button>
        <button class="btn ">Registrarse</button>
      </div>
      <div class="socials">
        <div class="icon">
          <a href=""><img src="../../../assets/images/social%201.png" alt=""></a>
          <p class="fw-semibold">Google</p>
        </div>
        <div class="icon">
          <a href=""><img src="../../../assets/images/facebook%201.png" alt=""></a>
          <p class="fw-semibold">Facebook</p>
        </div>


      </div>
    </div>
  </div>

</div>
