


/*Variables */
.text-first-primary {
  color: var(--primary-color);
}

/*Container */
.conteiner {
  height: 100vh;
}

/*Col 1 */

.bg-col {
  background: url("../../../assets/images/bg.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
}


.title_login {
  font-size: 64px;
  font-weight: bold;
}

.subtitle_login {
  color: var(--tertiary-color);
  font-size: 48px;
  line-height: 40px;
  font-weight: bold;

}

.col-form {
  width: 100%;
  background: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/*form */
.col-form form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.input-groups {
  display: flex;
  width: 100%;
  position: relative;

}

.input {
  width: 424px;
  height: 56px;
  border: solid 1.5px var(--primary-color);
  border-radius: 5px;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: black;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}


.user-label {
  position: absolute;
  transform: translateY(-50%) scale(0.8);
  left: 15px;
  color: var(--primary-color);
  background: var(--bs-secondary-color);
  font-weight: normal;
  pointer-events: none;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus, input:valid {
  outline: none;
  border: 1.5px solid var(--primary-color);
}

.input:focus ~ label, input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background: var(--secondary-color);
  padding: 0 .2em;
}

/**
buttons_actions
 */
.buttons_actions {
  display: flex;
  justify-content: center;
  margin-left: -200px;
  width: 100%;
  gap: 10px;
}

.buttons_actions .btn_active {
  background: var(--primary-color);
  color: white;
  border-radius: 100px;
  border: none;
  height: 40px;
  line-height: 20px;
  padding: 10px 20px;
}

.buttons_actions .btn {

  color: black;
  border-radius: 100px;
  border: 1px solid var(--primary-color);
  height: 40px;
  line-height: 20px;
  padding: 10px 20px;
}

/*
socials
 */
.socials{
  display: flex;
  gap: 30px;
  margin-left: -270px;
  margin-top: 20px;
}
.socials .icon{
  font-size: 12px;
  text-align: center;

}
