<app-header></app-header>

<div class="container mx-auto container d-flex my-4 align-items-center" style="height: 100vh">

  <div class="row">
    <div class="col col-image">
      <img    src="../../../../assets/images/event.png">
    </div>

    <div class="col text-terciary ">
      <div class=" d-flex flex-column gap-3">


        <h3 class="event_title fw-semibold">Wiener Musikverein</h3>
        <div class="description flex flex-row w-100">
          <p class="fw-bold fs-5">Descripción:</p>
          <p class="fs-6">The Wiener Musikverein was inaugurated by Emperor Franz Joseph in 1870 and is still considered
            one of the
            finest concert halls in the world.
            The Vienna Philharmonic Orchestra's New Year's Eve Concert, broadcasted worldwide every year since 1959.</p>
        </div>

        <p class="fw-bold fs-5 ">Fecha: <span class="fw-normal fs-6">15/07/2024 -03:30:00</span></p>
        <p class="fw-bold fs-5 ">Enlace: <span class="fw-normal fs-6">www.tuboleta.com.co</span></p>
        <p class="fw-bold fs-5 ">Tipo de evento: <span class="fw-normal fs-6">Compra de boletería.</span></p>

      </div>

    </div>
  </div>

</div>
